.aoc22-crate {
  width: 30px;
  height: 30px;
  border: black solid 1px;
  background: #bd8a59;
  font-weight: bolder;
  text-align: center;
  display: block;
}

.aoc22-indicator {
  width: 30px;
  height: 30px;
  border: transparent solid 2px;
  background: #eee;
  text-align: center;
}

.aoc22-stack {
  display: flex;
  gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.aoc22-floating .aoc22-stack {
  justify-content: flex-end;
}

.aoc22-crate:first-child {
  border: black solid 2px;
  background: #ffa24b;
  display: block;
}

.aoc22-stacks {
  display: flex;
  gap: 4px;
  flex-direction: row;
}

.marketdata {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: no-wrap;
  overflow: auto;
  height: 500px;
  margin: 40px auto;
  max-width: 900px;
  border: solid theme("colors.slate.400") 2px;
  border-radius: 4px;
  padding: 10px;
}

.marketdata-bar {
  background: theme("colors.purple.600");
  @apply rounded;
  width: 30px;
  position: absolute;
  bottom: 0;
}

.marketdata-date {
  position: absolute;
  transform-origin: bottom left;
  transform: rotate(30deg);
  bottom: -30px;
  left: 0;
  white-space: nowrap;
}

.marketdata-price {
  position: absolute;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  bottom: 10px;
  left: 28px;
  font-family: monospace;
}

.marketdata-entry {
  @apply rounded;
  height: 400px;
  width: 30px;
  background: theme("colors.slate.200");
  position: relative;
  flex-shrink: 0;
}

.marketdata-entry-past {
  opacity: 0.4;
}
